@import "tailwindcss";
@plugin "daisyui";

html {
  scroll-behavior: smooth;
}

/* Nav animation  */
.nav-link > .nav-animation {
  background-image: linear-gradient(
    to right,
    #55e6a5,
    #55e6a5 50%,
    #ffffff 50%
  );
  background-size: 200% 100%;
  background-position: -100%;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
}

.nav-link > .nav-animation:before {
  content: "";
  background: #55e6a5;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.nav-link > .nav-animation:hover {
  background-position: 0;
}

.nav-link > .nav-animation:hover::before {
  width: 100%;
}

/* project image scroll animation */
.project-img {
  display: block;
  width: 100%;
  overflow: hidden;
  position: relative;
  border: 2px solid #191919;
  border-radius: 1px;
  margin: 0 auto;
}
.project-img img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  min-height: 100%;
  transition: transform 5s linear;
  object-fit: cover;
}

/* Scroll up on hover */
.project-img:hover img {
  transform: translateY(-30%);
}

/* Custom scrollbar design  */
/* For Webkit-based browsers (Chrome, Safari) */
::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-track {
  background: #0e0e0e; /* Track color */
}

::-webkit-scrollbar-thumb {
  background-color: #55e6a5; /* Scrollbar color */
  border-radius: 10px;
  border: 2px solid #0e0e0e; /* Optional: adds padding effect */
}

/* Firefox */
* {
  scrollbar-width: thin;
  scrollbar-color: #55e6a5 #0e0e0e;
}
